@import url(/stilo/nuliga.css);
@import url(/stilo/baza.css);

html, body {
	color: #000;
	background-color: #878787;
	margin: 0 1em 0 0;
	padding: 0;
	font-size: 100%;
	margin: 0;
}
* html body {
	margin-right: 5em;
}
html:lang(eo) :lang(ca),
html:lang(eo) :lang(da),
html:lang(eo) :lang(de),
html:lang(eo) :lang(en),
html:lang(eo) :lang(es),
html:lang(eo) :lang(fr),
html:lang(eo) :lang(hu),
html:lang(eo) :lang(it),
html:lang(eo) :lang(jp),
html:lang(eo) :lang(la),
html:lang(eo) :lang(nl),
html:lang(eo) :lang(pl),
html:lang(eo) :lang(pt),
html:lang(eo) :lang(ru),
html:lang(eo) :lang(sv),
html:lang(eo) :lang(vo),
html:lang(eo) :lang(zh),
html:lang(eo) :lang(x-ar),
html:lang(eo) :lang(x-he),
html:lang(eo) :lang(x-ja),
html:lang(eo) :lang(x-zh),
html:lang(eo) :lang(x-kiu) {
	font-style: italic;
}
html:lang(eo) .akademiavortaro #serchorezulto :lang(ca),
html:lang(eo) .akademiavortaro #serchorezulto :lang(de),
html:lang(eo) .akademiavortaro #serchorezulto :lang(en),
html:lang(eo) .akademiavortaro #serchorezulto :lang(es),
html:lang(eo) .akademiavortaro #serchorezulto :lang(fr),
html:lang(eo) .akademiavortaro #serchorezulto :lang(it),
html:lang(eo) .akademiavortaro #serchorezulto :lang(pl),
html:lang(eo) .akademiavortaro #serchorezulto :lang(pt),
html:lang(eo) .akademiavortaro #serchorezulto :lang(ru) {
	font-style: normal;
}

body i, body cite, body em, body var, body address {
	font-style: italic;
}
ul {
	list-style-type: disc;
}
ul ul {
	list-style-type: square;
}
ul ul ul {
	list-style-type: circle;
}
ul ul ul ul {
	list-style-type: disc;
}
ul ul ul ul ul {
	list-style-type: square;
}
ul ul ul ul ul ul {
	list-style-type: circle;
}
p, ul, ol, dl, table {
	margin: 0.5em 0;
	padding: 0;
}
hr.kashu {
	clear: both;
	display: none;
}
hr.mallonga {
	width: 10em;
	color: #000;
	background-color: #000;
}
li, dd {
	margin: 0 0 0 2em;
	padding: 0;
}
h2 {
	font-size: 160%;
	margin: 1em 0 0.2em 0;
	padding: 0;
	font-weight: bold;
}
h3 {
	font-size: 140%;
	margin: 1em 0 0em 0;
	padding: 0;
	font-weight: bold;
}
h2.aparte, h3.aparte, h4.aparte, h5.aparte {
	font-style: italic;
}

h4 {
	font-size: 120%;
	margin: 1em 0 0em 0;
	padding: 0;
	font-weight: bold;
}
h5 {
	font-size: 110%;
	margin: 1em 0 0em 0;
	padding: 0;
	font-weight: bold;
}
h6 {
	font-size: 110%;
	margin: 1em 0 0em 0;
	padding: 0;
	font-weight: bold;
	font-style: italic;
}
#h1 h1 {
	_height: 1em;
}
h1+*, h2+*, h3+*, h4+*, h5+*, h6+* {
	margin-top: 0.2em;
}
h2 + h3 {
	margin-top: 0.5em;
}
h2.supertitolo {
	font-size: 110%;
}
h2, h3, h4, h5, h6, p.supertitolo {
	color: #878787;
	background-color: inherit;
}

p {
	margin: 0.5em 0 0.6em 0;
}
td, th {
	padding: 0.2em;
	border: 1px solid #000;
}
#konsultejademandoformularo td, 
#konsultejademandoformularo th {
	border-width: 0;
}
td.cifera, th.cifera {
	text-align: right;
}
hr.kashinda {
	display: none;
}
a {
	text-decoration: none;
}

#enhavo {
	margin: 0.5em 4em 0.5em 10.5em;
	padding: 0.5em 1em 1em 1em;
	max-width: 43em;
	width: auto;
	color: #000;
	background-color: #fff;
	border: 0.5em inset #878787;
}
body.serchilo #enhavo {
	max-width: 100%;
}
#h1 {
	margin: 0;
	padding: 0;
}
#h1 h1 {
	margin: 0;
	padding: 0.2em 0.2em;
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	color: #000;
	background-color: #fff;
	border-width: 0em;
	font-family: "Times New Roman", Times, serif;
}
#enhavo #h1 h1 a:link, #enhavo #h1 h1 a:visited, #enhavo #h1 h1 a:hover {
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
div[id=enhavo] {
	position: relative;
	z-index: 1;
}
#enhavo a:link {
	color: #007;
	background-color: transparent;
	text-decoration: underline;
}
#enhavo :visited {
	color: #909;
	background-color: transparent;
	text-decoration: none;
}
#enhavo a:hover, #enhavo a:active {
	color: #05f;
	background-color: transparent;
	text-decoration: underline;
}
#enhavo #serchorezulto a:link,
#enhavo #serchorezulto a:visited {
	text-decoration: underline;
}

#menuoj {
	position: fixed;
	left: 0;
	top: 0.2em;
	z-index: 0;
	width: 10.3em;
	height: 100%;
	overflow: auto;
}
* html #menuoj {
	position: absolute;
}

#chefmenuo, #lokmenuo {
	margin: 0.4em 0.2em;
	width: 8.4em;
	padding: 0 0.2em;
}
#lokmenuo {
	padding-top: 0.3em;
}
#menuoj ul, #menuoj li, #menuoj h2, #menuoj div {
	color: black;
	background-color: transparent;
}
#menuoj li {
	font-size: 100%;
	display: block;
	text-align: right;
	background-color: #878787;
	color: #000;
	margin: 2px 0 2px 0;
	padding: 1px 4px 1px 4px;
}
#menuoj ul {
	list-style-type: none;
	margin: 0.2em 0;
	padding: 0;
	width: auto;
}
#chefmenuo #elektiliterojn {
	margin-top: 1em;
}
#chefmenuo li.speciala {
	font-style: italic;
}
#menuoj {
	background-color: #878787;
}
#chefmenuo h2, #lokmenuo h2 {
	border-bottom-width: 0;
	margin: 0.2em 0 0 0;
	padding: 0.2em;
	font-size: 100%;
	font-weight: bold;
	color: #000;
	background-color: #878787;
	text-align: right;
}
#enhavo #chefmenuo h2 a:link,
#enhavo #chefmenuo h2 a:visited,
#enhavo #chefmenuo h2 a:active,
#enhavo #chefmenuo h2 a:focus,
#enhavo #chefmenuo h2 a:hover {
	color: #000;
}
#enhavo #chefmenuo h2 a:hover {
	text-decoration: underline;
}

#enhavo #menuoj a:link, #enhavo #menuoj a:visited {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}
#enhavo #menuoj a:hover {
	color: #007;
	background-color: transparent;
}
#enhavo #eoliteroj a, #enhavo #salutoadiauo a {
	font-style: italic;
}
#enhavo #menuoj span.malplena {
	font-weight: bold;
	color: green;
}
#menuoj #signosistemoj a {
	display: inline;
	background-color: #979797;
	color: #000;
	border: 2px outset #ccc;
	padding: 0.2em 0.2em;
	width: 2em;
	font-weight: bold;
}
#menuoj #signosistemoj {
	padding: 0.5em 0.5em 0 0;
}
li#signosistemoj {
	margin-top: 0em;
	margin-bottom: 0em;
}
#menuoj #signosistemoj a.signosistemo:hover {
	background-color: yellow;
	border: 2px inset green;
	color: #000;
}
#menuoj #signosistemoj a.aktivasignosistemo {
	background-color: #fff;
	border: 2px inset green;
	color: green;
}
#menuoj #signosistemoj a.aktivasignosistemo:hover {
	text-decoration: none;
	background-color: #fff;
}
p.noto {
	font-size: 85%;
}
div.div {
	margin-bottom: 1em;
}
p.noto {
	margin-bottom: 0;
	margin-top: 0;
}
p.nealkadrige {
	text-align: left;
}
span.noto {
	font-weight: bold;
	color: #5f8781;
	background-color: inherit;
}
div.sek2, div.sek3, div.sek4 {
	clear: both;
}

/* DIFINLISTOJ */
dl {
	border: 1px solid #fff;
	margin: 0.5em 0 0 1em;
	padding: 0;
}
dl dt {
	margin: 1em 0 0 0;
	clear: both;
	float: left;
	width: 11em;
	text-align: right;
	font-weight: bold;
	color: #000;
	background: #ddd;
}
dl dt#akcento {
	font-weight: normal;
}
/* POR MSIE */
* html dl dt {
	float: none;
	position: relative;
	top: 1.5em;
	margin-top: 0;
}
dl dd {
	margin: 1em 0 0 12em;
	text-align: left;
	color: inherit;
	color: #000;
	background-color: #deb;
}
/* POR MSIE */
* html dl dd {
	margin-top: 0;
}
dl dt, dl dd {
	padding: 0.2em;
}


body span.ne-esperanta {
	font-style: italic;
}

#enhavo a.ekstera {
	border-bottom: 1px dashed #00f;
}
#enhavo a.ekstera:visited {
	border-bottom: 1px dashed green;
}
#enhavo a.ekstera:after {
	content: '\2191';
	color: #000;
	background-color: #ddd;
	font-weight: normal;
	padding: 0 0.2em 0.2em 0.2em;
	margin: 0 0.2em 0 0.2em;
}
#enhavo a.ekstera:hover {
	border-bottom: 1px solid blue;
	border-style: solid;
	border-color: #000;
	border-width: 1px 0 1px 0;
}
#enhavo a.ekstera:hover:after {
	color: #f00;
	background: transparent;
}
a:hover.ekstera code, .komputo a:hover.ekstera code {
	color: #0aa;
}

/* literelektilo */
.literelektilo h2 {
	font-size: 1.2em;
}
.literelektilo #aspekto div,.literelektilo  #literoj div {
	margin: 0 0 0.2em 1em;
}
.literelektilo #aspekto input, .literelektilo #literoj input {
	margin: 0 0.8em 0 0;
}
.literelektilo label  {
	font-weight: bold;
}
.literelektilo #ek {
	margin: 1em 0 0 0;
}

div.sek2, div.sek3, div.sek4, div.sek5 {
	margin-top: 2em;
}

h1 a:link, h1 a:visited, h1 a:active {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}
hr.menueto {
	margin-top: 1em;
}
#menueto {
	text-align: center;
}
form#salutoformularo {
	text-align: left;
}
form#salutoformularo label {
	display: block;
	width: 11em;
	float: left;
	text-align: right;
	margin: 0 0.5em 0 0;
}
form#salutoformularo div {
	margin: 0.7em 0 0 0;
}
form#salutoformularo input {
	background-color: #eee;
	font-size: 120%;
	width: 10em;
	border: 0.1em inset #aaa;
}
#salutoformularo input:focus, #vochokontrolota:focus, #ve:focus {
	background-color: #ffa;
}
form#salutoformularo div {
	margin-bottom: 0.2em;
	width: auto;
	text-align: left;
}
form#salutoformularo #ek {
	margin-top: 1em;
	width: 17.5em;
	cursor: pointer;
}
form#salutoformularo label, 
form#salutoformularo #ek {
	font-weight: bold;
}

/* FUNDAMENTO */
body.fundamento #enhavo {
	padding: 0.5em 2em 1em 2em;
	max-width: 28em;
}
body.fundamento #nefundamenta, body.fundamento #notoj, body.fundamento div.atentigo, #aktoj_klariganoto {
	color: #000;
	background-color: #ccf;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 1px dashed #222;
}
p#atentigo, p.atentigo {
	padding: 0.5em;
	color: red;
	background-color: #ddd;
}

.fundamento #enhavo h2,
.fundamento #enhavo h3,
.fundamento #enhavo h4,
.fundamento #enhavo h5,
.fundamento #enhavo h6,
.fundamento #enhavo p.supertitolo {
	color: #000;
}
.fundamento #enhavo {
	color: #000;
	background-color: #fff;
}
.fundamento #nefundamenta, .fundamento #notoj, .fundamento div.atentigo, #aktoj_klariganoto {
	padding: 1em;
}
body.fundamento div.unuapagho {
	margin-top: 5em;
	margin-bottom: 5em;
}
body.fundamento div.unuapagho h1 {
	font-size: 140%;
}
body.fundamento h1, body.fundamento h2, body.fundamento h3, body.fundamento h4 {
	text-align: center;
	font-weight: bold;
}
body.fundamento h1 {
	font-size: 160%;
}
body.fundamento h1.gramatiko {
	font-size: 130%;
	letter-spacing: 0.15em;
}
body.fundamento h1.univort {
	font-size: 180%;
}
body.fundamento h1.enhavtabelo {
	font-size: 130%;
}
body.fundamento div.gramatiko h1 {
	font-size: 160%;
	word-spacing: 0.5em;
}
body.fundamento div.gramatiko h2.unua {
	font-size: 100%;
	word-spacing: 0.3em;
}
body.fundamento div.gramatiko h2.dua {
	font-size: 140%;
	word-spacing: 0.5em;
}
body.fundamento h2 {
	font-size: 140%;
}
body.fundamento h2.gramatiko {
	font-size: 110%;
}
body.fundamento h2.univort {
	font-size: 150%;
	font-weight: normal;
}
body.fundamento h2.granda {
	font-size: 240%;
	letter-spacing: 0.2em;
}
body.fundamento h3 {
	font-size: 120%;
}
body.fundamento h3.ekz {
	font-size: 100%;
	font-weight: normal;
	margin-top: 2em;
}
body.fundamento h4 {
	font-size: 100%;
}
body.fundamento p {
	margin: 1em 0 1em 0;
	text-indent: 1em;
	text-align: justify;
}
body.fundamento #notoj p, body.fundamento #notoj h1, body.fundamento #notoj h2, body.fundamento #notoj h3 {
	text-align: left;
	text-indent: 0;
}
body.fundamento #notoj p {
	text-align: justify;
}
body.fundamento p.antparol {
	padding: 0;
	margin: 0;
}
body.fundamento ul.alinee p.antparol {
	display: inline;
}
body.fundamento p.univort {
	padding: 0;
	margin: 0;
}
body.fundamento p.gra-fr, body.fundamento p.gra-en, body.fundamento p.gra-de, body.fundamento p.gra-ru, body.fundamento p.gra-pl {
	margin-top: 0;
	margin-bottom: 0;
}
body.fundamento p.centra {
	text-align: center;
	text-indent: 0;
	word-spacing: 1.5em;
}
body.fundamento p.bloka {
	text-align: center;
	text-indent: 0;
	word-spacing: 1.5em;
}
body.fundamento ul.vortaro {
	margin-left: 1.5em;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
}
body.fundamento li.vortarero {
	margin: 0;
	padding: 0;
	text-indent: -1.5em;
}
body.fundamento ul.subvortaro {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body.fundamento li.subvortarero {
	margin: 0;
	padding: 0;
}
body.fundamento div.univort ul.subvortaro {
	margin-left: 1.5em;
}
body.fundamento span.alfabeto {
	font-size: 120%;
	font-weight: bold;
}
body.fundamento span.alfabeto-mana {
	font-size: 120%;
	font-style: italic;
}
body.fundamento ul.alinee {
	margin: 0;
	padding: 0;
}
body.fundamento ul.alinee li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: justify;
	text-indent: 0em;
}
body.fundamento ul.alinee li {
	margin: 0;
	padding: 0;
	text-indent: 1em;
}
body.fundamento h3.verboj {
	margin-bottom: 0;
}
body.fundamento li.gramatiko li.gramatiko {
	margin: 0;
	padding: 0;
	text-indent: 1em;
}
body.fundamento .verboj + ul {
	margin: 0;
	padding: 0;
}
body.fundamento div.signaturo {
	font-size: 0.9em; 
	margin-left: 4em;
	text-indent: 13.5em;
	line-height: 200%;
}
body.fundamento div.signaturo:first-line {
	font-size: 1.1em;
}
body.fundamento div.signaturo span {
	white-space: pre;
}

body.fundamento hr.mallonga {
	width: 4.5em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000;
	background-color: #000;
	margin-bottom: 1em;
}
.fundamento #enhavo div.gramatiko\-alfabeto {
	font-size: 85%;
}
.fundamento #enhavo div.gramatiko\-alfabeto table {
	border-width: 0;
	border-collapse: separate;
	width: 100%;
	text-align: center;
	background-color: #fff;
}
.fundamento #enhavo div.gramatiko\-alfabeto td {
	border-width: 0;
	vertical-align: top;
	width: 14%;
}
body.fundamento p.noto {
	font-size: 85%;
}
body.fundamento div.div {
	margin-bottom: 1em;
}
body.fundamento p.noto {
	margin-bottom: 0;
	margin-top: 0;
}
body.fundamento p.piednoto {
	margin: 0.5em 0 0.5em 3em;
	font-size: 85%;
}
body.fundamento sup {
	font-size: 75%;
	line-height: 0;
	font-weight: bold;
}
body.fundamento span.eta {
	font-size: 70%;
}
body.fundamento div.enhavtabelo ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
body.fundamento div.enhavtabelo li {
	margin: 0.5em 0 0.5em 0;
}
body.fundamento div.enhavtabelo ul.ena {
	margin-left: 2em;
}
body.fundamento div.enhavtabelo ul.ena li {
	margin: 0;
	font-size: 90%;
}
body.fundamento div.enhavtabelo p.gramatiktitolo {
	text-align: left;
	margin-left: 7em;
	text-indent: -7em;
}
body.fundamento div#nefundamenta ul {
	text-align: left;
	list-style-type: none;
}
body.fundamento div.atentigo em {
	font-size: 100%;
}
.fundamento #enhavo a:link,
.fundamento #enhavo a:visited,
.fundamento #enhavo a:active,
.fundamento #enhavo a:hover {
	color: #000;
	background-color: inherit;
	text-decoration: underline;
}
.fundamento #enhavo a:hover {
	background-color: #fff;
	text-decoration: underline;
}
.fundamento #enhavo h1 a:link, 
.fundamento #enhavo h1 a:visited, 
.fundamento #enhavo h1 a:active, 
.fundamento #enhavo span.titolo a,
.fundamento #enhavo span.akademio a {
	text-decoration: none;
}
.fundamento #enhavo .atentigo a:link,
.fundamento #enhavo .atentigo a:visited,
.fundamento #enhavo .atentigo a:active,
.fundamento #enhavo .atentigo a:link,
.fundamento #enhavo .atentigo a:hover,
.fundamento #enhavo #nefundamenta a:link,
.fundamento #enhavo #nefundamenta a:visited,
.fundamento #enhavo #nefundamenta a:active,
.fundamento #enhavo #nefundamenta a:link,
.fundamento #enhavo #nefundamenta a:hover {
	text-decoration: underline;
}

.fundamento #enhavo h1 a:hover {
	text-decoration: underline;
}
.fundamento #enhavo #menuo span.akademio a:hover {
	color: #0f0;
}
body.fundamento h1 a:hover, body.fundamento div.enhavo a:hover {
	text-decoration: underline;
}
body.fundamento #notoj h2 {
	margin-bottom: 0;
}
body.fundamento #notoj h2 + p {
	margin-top: 0.2em;
}
body.fundamento span.mencio {
	font-style: italic;
}
#nomanonco {
	text-align: center;
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	color: #000;
	background-color: #ffa;
	border: solid 4px #aaa;
}
p.klarigo {
	margin: 1em 0;
	font-style: italic;
	border: 1px dotted #ddd;
	padding: 0.5em;
	clear: both;
}
#estraro th {
	text-align: right;
}
#estraro td, #estraro th {
	border-width: 0px;
}
#estraro {
	border-width: 0px;
	border-collapse: separate;
}

#stilelektilo div {
	margin: 0.5em 0 0 1em;
}
#stilelektilo #ek {
	margin: 0.5em 0 0 0;
	width: 10em;
}
div.dokumentolisto div.h4 {
	border-bottom: 1px solid #444;
	padding-bottom: 0.5em;
}
div.dokumentolisto div.h4 p {
	margin-left: 1em;
}
div.dokumentolisto div.h4 div {
	margin-left: 2em;
}

#serchilo label {
	font-weight: bold;
}
#serchilo {
	padding: 0.2em;
	position: relative;
}
#limigi, #serchi {
	display: block;
	width: 5em;
	float: left;
	text-align: right;
	padding-right: 0.5em;
}
#serchilo {
	width: auto;
}
* html #serchilo {
	width: 49em;
	xborder: 1px solid red;
}
#serchilo #iloj, #serchilo #jesne {
}
#serchilo #jesne {
	width: 12em;
	padding-right: 1em;
}
#serchilo #chumontri1,
#serchilo #chumontri2 {
	width: 14em;
	padding-right: 0.3em;
}
#serchilo #iloj, #serchilo #chumontri1, #serchilo #chumontri2 {
	margin-right: 1em;
}
#serchilo #chumontri2 {
	margin-right: 0em;
}
#serchilo #iloj,
#serchilo #chumontri1,
#serchilo #chumontri2,
#serchilo #jesne {
	float: left;
	xborder: 1px solid green;
}
#serchilo #iloj,
#serchilo #chumontri1,
#serchilo #chumontri2 {
	padding-top: 0.5em;
}
#serchilo #iloj {
	max-width: 20em;
}
#serchilo #jesne table {
	margin: 0;
	padding: 0;
}
#serchilo #jesne td {
	padding: 0.1em;
	border-width: 0;
}
#serchilo #jesne th {
	width: 2em;
	border-width: 0;
}
#serchilo #jesne th.flanktitolo {
	text-align: left;
	width: 11em;
}
#serchilo #jesne td {
	text-align: center;
}
#serchilo #ek {
	text-align: left;
}
#serchilo #ek input {
	margin-top: 0em;
	font-weight: bold;
	font-size: 110%;
	cursor: pointer;
	text-align: center;
}
#serchilo p[id=ek] input {
	width: 15em;
}
#serchilo label, #serchilo .flanktitolo {
	cursor: pointer;
}
body.akademiavortaro h1,
#akademiavortaro  {
	z-index: 2000;
	position: relative;
	background-color: #fff;
}
#akademiavortaro h2 {
	height: 2em;
	clear: both;
}
#avnavigo {
	list-style-type: none;
	margin: 0 0 0 0em;
	padding: 0;
}
#avnavigo li {
	display: block;
	float: left;
	margin: 0;
	padding: 0.2em;
	border: 2px solid #aaa;
	background-color: #ddd;
	font-weight: bold;
	min-width: 5.5em;
	text-align: center;
}
#avnavigo a:link, 
#avnavigo a:visited, 
#avnavigo a:active, 
#avnavigo a:focus, 
#avnavigo a:hover {
	color: #000;
	text-decoration: none;
}
#avnavigo a:hover {
	color: green;
}
#avnavigo li.aktuala {
	background-color: #fff;
	border-bottom-color: #fff;
}
#avnavigo #av1, #avnavigo #av2 {
	border-right-width: 0;
}
#akademiavortaro {
	clear: both;
	margin-top: 0em;
	padding: 0.1em 0.5em;
}
#akademiavortaro form {
	margin: 0;
	padding: 0;
}
#serchorezulto {
	clear: both;
}
#serchorezulto td, #serchorezulto th {
	padding: 0.2em 0.3em;
	text-align: left;
}
#serchorezulto th {
	background-color: #878787;
	color: #fff;
}
#serchorezulto td.statuso {
	font-family: "Courier New", Courier, monospace;
}
#serchorezulto h3 {
	font-size: 100%;
	font-weight: bold;
}
/*
-- DIFINOSTATO:
-- 0 = Sen difino
-- 1 = Rekte transprenita el ReVo
-- 2 = Redaktita/aprobita de redaktanto
-- 3 = Aprobita de la Akademio
*/

#serchorezulto td.difino {
}
#serchorezulto td.difino0 {
}
#serchorezulto td.difino1 {
	background-color: #eee;
	color: #666;
}
#serchorezulto td.difino2 {
	background-color: #eee;
	color: #666;
}
#serchorezulto td.difino3 {
}
#serchorezulto tr.neoficiala {
	background-color: #eee;
	color: #666;
}
#serchorezulto td.formo {
	font-weight: bold;
}
#serchorezulto table {
	background-color: #fff;
}

#akademiavortaro dl dt, #akademiavortaro dl dd {
	float: none;
	background-color: #fff;
	color: #000;
	text-align: left;
}
#akademiavortaro dl dt {
	margin: 0;
	width: 100%;
}
#akademiavortaro dl dd {
	margin: 0 0 0.5em 2em;
}
#akademiavortaro span.klarigo {
	color: #444;
	font-style: italic;
}
#serchilo div[id=avklarigoligilo] {
	text-align: center;
}
#serchorezulto p.neniuj {
	background-color: #eee;
	color: red;
	padding: 0.5em;
}
#enhavo .aldonakomento {
	font-style: italic;
}
#enhavo .aldonakomento em {
	font-style: normal;
}

#enhavo p.fontklarigo {
	font-size: 85%;
	padding: 0.5em;
	border: 1px dashed #aaa;
	background-color: #eee;
}
#enhavo hr.steleto {
	width: 0.4em;
	height: 0.4em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000;
	background-color: #000;
}
#enhavo p.fonto {
	font-size: 80%;
	padding: 0.4em;
	font-style: italic;
	text-align: center;
}
#enhavo p.supertitolo {
	font-weight: bold;
}
#enhavo h2.supertitolo {
	font-size: 110%;
}
#enhavo .eminverse {
	font-style: italic;
}
#enhavo .eminverse em {
	font-style: normal;
}
#enhavo .eminverse em em {
	font-style: italic;
}
#enhavo div.komento {
	font-size: 90%;
}
#enhavo div.piednoto {
	font-style: italic;
	font-size: 90%;
	margin-top: 2em;
}
#enhavo strong.sub {
	text-decoration: underline;
}
#enhavo div.subskriboj {
	margin-left: 5em;
}
#enhavo p.artikolo {
	margin-left: 10em;
}
#enhavo ul.sen {
	list-style-type: none;
}
#enhavo ul.sendeshovo li {
	margin: 0;
	padding: 0;
}
#enhavo ul.sen li {
	margin-top: 0.5em;
	margin-bottom. 0.5em;
}
#enhavo div.regulo {
	font-style: italic;
}
#enhavo strong.kvazautitolo {
	font-size: 110%;
	font-style: italic;
	color: #666;
}
#enhavo table.demandoformularo {
	margin-top: 1em;
}
#enhavo table.demandoformularo input.sendobutono {
	width: 100%;
	font-size: 120%;
	font-weight: bold;
	margin-top: 0.2em;
}
#enhavo div.koreo-egipto-eksa ul, #enhavo div.koreo-egipto-eksa li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#enhavo div.koreo-egipto-eksa h3 {
	font-size: 200%;
	text-align: center;
	margin-top: 1em;
}
#enhavo div.koreo-egipto-eksa h4 {
	margin-left: 4.2em;
}
#enhavo div.koreo-egipto-eksa li {
	margin: 0.5em 0;
}
#enhavo div.koreo-egipto-eksa p {
	text-indent: 1em;
}
#enhavo div.koreo-egipto-eksa li p {
	text-indent: 5em;
}

#enhavo div.koreo-egipto-eksa blockquote p {
	text-indent: 5em;
}
#enhavo div.koreo-egipto-eksa div.subskriboj {
	margin-left: 12em;
	margin-top: 1em;
}
#enhavo div.koreo-egipto-eksa div.subskriboj p {
	text-indent: 0em;
}
#enhavo p.grave {
	margin-left: 8em;
}
#enhavo .atentigo {
	color: black;
	background-color: #eee;
	border: 2px solid #ddd;
	padding: 0.5em;
}
#enhavo .gravege {
	color: #000;
	background-color: yellow;
	border: 2px solid #ddd;
	padding: 0.5em;
}

#enhavo ul#kolegolisto li {
	margin-bottom: 1em;
}
#enhavo ul#kolegolisto li div {
	margin-left: 1em;
}
#enhavo ul#kolegolisto li div div {
	margin-left: 0;
}

#enhavo div.aparte {
	margin-left: 4em;
	font-style: italic;
}
#enhavo div.aparte strong {
	font-style: normal;
} 
#enhavo blockquote.aparte {
	font-style: italic;
}
#enhavo div.resumo, #enhavo div.rimarko {
	margin-left: 3em;
}
#enhavo div.subskribo {
	text-align: center;
}

#enhavo em.Latina {
	font-style: italic;
}
#enhavo span.Latina {
	font-style: normal;
	font-family: monospace;
}

.flankligilo {
	float: right;
	margin: 1em;
	background: #eee;
	border: 1px solid #444;
	padding: 0.2em;
	font-style: italic;
	width: 12em;
}
.flankligilo li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}
#nauaoficialaaldono h2 { clear: both;}
#nauaoficialaaldono #radikoj p {margin: 0 0 1.2em 1.5em;}
#nauaoficialaaldono #radikoj p {text-indent: -1.5em;}
#nauaoficialaaldono #enkonduko p, #nauaoficialaaldono #radikoj p, #nauaoficialaaldono #finonotoj li { text-align: justify; }
#nauaoficialaaldono strong {font-weight: bold; font-style: normal;}
#nauaoficialaaldono em {font-weight: normal; font-style: italic;}
#nauaoficialaaldono sub {font-size: 0.8em;}
#nauaoficialaaldono { margin-top: 2em;}
#nauaoficialaaldono h4, #nauaoficialaaldono.decidoj h3 { margin-bottom: 0.5em; }
#nauaoficialaaldono #finonotoj li { margin-bottom: 1em; }
#nauaoficialaaldono #radikoj .notankro, #nauaoficialaaldono a.noto {
	font-weight: bold;
	color: #333;
	background-color: #eee;
	margin-right:0.1em;
	margin-left:0.1em;
	padding: 0em 0.4em 0em 0.3em;
	border: 1px solid #222;
	font-size:0.8em;
	text-decoration: none;
}
#nauaoficialaaldono .notankro:hover, #nauaoficialaaldono a.noto:hover { background-color: #aaa; color: #fff; }
#nauaoficialaaldono .notankro span.krampo { display: none; }
#nauaoficialaaldono #signaturo { width: 15em; margin-left: auto; }

#listoderekomendatajlandnomoj h2 { clear: both;}
#listoderekomendatajlandnomoj p { text-align: justify; }
#listoderekomendatajlandnomoj p.landolisto { text-align: left; }
#listoderekomendatajlandnomoj strong {font-weight: bold; font-style: normal;}
#listoderekomendatajlandnomoj em {font-weight: normal; font-style: italic;}
#listoderekomendatajlandnomoj { margin-top: 2em;}
#listoderekomendatajlandnomoj .signaturo { width: 15em; margin-left: auto; }

#enhavo p.Steletoj {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #000;
}

#enhavo #laulingvatabelo th {
	font-weight: normal;
	text-align: left;
}
#enhavo #laulingvatabelo td {
	font-weight: normal;
	text-align: left;
	padding-left: 2em;
}

#enhavo .kursiva {
	font-style: italic;
}
#enhavo .kursiva em {
	font-style: normal;
}
#enhavo table.senbordero td, #enhavo table.senbordero th {
	border-width: 0;
}
.aktoj1 #enhavo div.piednoto {
	margin: 1em 0 1em 8em;
	border: 1px dashed #aaa;
	position: relative;
	left: 5em;
	background-color: #fff;
	padding: 0.5em;
	font-size: 75%;
}
.aktoj2 #enhavo div.piednoto {
	margin: 1em 0 1em 8em;
	position: relative;
	left: 5em;
	padding: 0.5em;
	font-size: 75%;
	color: #000;
	background-color: #ccf;
	border: 1px dashed #222;
	font-style: normal;
}
.aktoj1 #enhavo a.notankro,
.aktoj2 #enhavo a.notankro {
	text-decoration: none !important;
	color: #0055ff;
	background-color: #eee;
	padding: 0.2em;
}
.aktoj1 #enhavo em.disa {
	font-style: normal;
	letter-spacing: 0.2em;
}
.aktoj1 #enhavo div.steleta {
	font-style: italic;
}
.aktoj1 #enhavo div.steleta em,
.aktoj1 #enhavo div.steleta cite {
	font-style: normal;
}
.aktoj1 #enhavo div.numera {
	font-style: normal;
}
.aktoj1 #enhavo div.numera em,
.aktoj1 #enhavo div.numera cite {
	font-style: italic;
}
.aktoj1 table.vochdonrezulto td, 
.aktoj1 table.vochdonrezulto th {
	padding: 0.5em;
}
.aktoj1 #tabelodeenhavo ul,
.aktoj2 #tabelodeenhavo ul {
	list-style-type: none;
}

.aktoj1 ul#enhavtabeleto,
.aktoj2 ul#enhavtabeleto {
	list-style-type: none;
}
.aktoj1 ol li {
	margin-left: 3em;
}
.aktoj1 ol.roma li {
	list-style-type: upper-roman;
}
.aktoj1 ol.roma li ul li {
	list-style-type: none;
}
.aktoj1 ol.araba li {
	list-style-type: decimal;
}
.aktoj1 ul.emfaza li,
.aktoj1 ol.emfaza li {
	font-weight: bold;
}
.aktoj1 #enhavo ul.neemfaza li,
.aktoj1 #enhavo ol.neemfaza li {
	font-weight: normal;
	margin-left: 2em;
	margin-top: 0;
	margin-bottom: 0;
}
.aktoj1 #enhavo ul#enketokajdecidoj li {
	margin-left: 0.5em;
}
.aktoj1 a#proponitarezolucio {
	margin-left: 1em;
}

.aktoj2 blockquote.centre {
	text-align: center;
}
.aktoj2 div.listodeakademianoj ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.aktoj2 div.listodeakademianoj ul li {
	margin-left: 0;
	padding-left: 0;
}
.aktoj2 div.listodeakademianoj h6 {
	font-weight: normal;
}

.aktoj2 h6 {
	font-style: normal;
}

.aktoj2 table#komunajradikoj  {
	margin-left: 3em;
}
.aktoj2 table#komunajradikoj td {
	border-width: 0;
}
.aktoj2 ul#duproprajnomoj {
	list-style-type: none;
}
.aktoj2 ul#paralelajformoj,
.aktoj2 ul#diversajghustigoj,
.aktoj2 ul#oficialigitajlandnomoj,
.aktoj2 ul#oficialigitajlandanonomoj,
.aktoj2 ul#linnusesadler,
.aktoj2 ul#sireguloj,
.aktoj2 ul#chefajkarakterizajhoj,
.aktoj2 ul#alimaniere,
.aktoj2 ul#landoj,
.aktoj2 ul#landoklarigoj,
.aktoj2 ul.nekonformaj {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.aktoj2 ul#paralelajformoj li,
.aktoj2 ul#diversajghustigoj li,
.aktoj2 ul#oficialigitajlandnomoj li,
.aktoj2 ul#oficialigitajlandanonomoj li,
.aktoj2 ul#linnusesadler li,
.aktoj2 ul#sireguloj li,
.aktoj2 ul#chefajkarakterizajhoj li,
.aktoj2 ul#alimaniere li,
.aktoj2 ul#landoj li,
.aktoj2 ul#landoklarigoj li,
.aktoj2 ul.nekonformaj li {
	margin-left: 0;
	padding-left: 0;
}
.aktoj2 ul#oficialigitajlandnomoj {
	column-width: 9em;
	-moz-column-width: 9em;
	-webkit-column-width: 9em;
}
.aktoj2 ul#oficialigitajlandanonomoj {
	column-width: 8em;
	-moz-column-width: 8em;
	-webkit-column-width: 8em;
}
.aktoj2 p.dekstre,
.aktoj2 div.dekstre {
	text-align: right;
}
.aktoj2 div.dekstre p {
	margin-top: 0;
	margin-bottom: 0;
}
.aktoj2 span.negrasa {
	font-weight: normal;
}
.aktoj2 table#primitivarezulto th {
	font-weight: normal;
}
.aktoj2 table#primitivarezulto td {
	text-align: right;
}
.aktoj2 table#primitivarezulto th,
.aktoj2 table#primitivarezulto td {
	border-width: 0;
}
.aktoj2 table#grupo1bazaj th,
.aktoj2 table#grupo1bazaj td {
	padding: 0.3em;
}
.aktoj2 table#grupo1bazaj th,
.aktoj2 table#grupo1bazaj td,
.aktoj2 table#grupo1bazaj td table th,
.aktoj2 table#grupo1bazaj td table td {
	border-width: 0;
}
.aktoj2 table#grupo1bazaj th {
	text-align: left;
}
.aktoj2 table#grupo1bazaj td table th {
	font-weight: normal;
}
.aktoj2 table#tabelvortoj th,
.aktoj2 table#tabelvortoj td {
	padding: 0.1em 0.5em;
}
.aktoj2 ul.bronotoj {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.aktoj2 ul.bronotoj li {
	margin: 0.5em 0;
	padding: 0;
}
.aktoj2 ul.bro {
	column-width: 8.5em;
	-moz-column-width: 8.5em;
	-webkit-column-width: 8.5em;
	column-gap: 0;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	list-style-type: none;
}
.aktoj2 ul.bro li {
	margin: 0 0 0 0.5em;
	padding: 0;
	clear: both;
}
.aktoj2 ul.bro span.brokol1 {
	float: left;
	width: 1.5em;
	text-align: right;
	padding-right: 0.5em;
}
.aktoj2 ul.bro span.brokol2 {
}
.aktoj2 li.kolumnofino {
	height: 2em;
}
.aktoj2 li.kolumnokomenco {
	-column-break-before: always;
	-moz-column-break-before: always;
	-webkit-column-break-before: always;
}
.aktoj2 #naugrupoj h5 span {
	font-weight: normal;
}
.aktoj2 .kursive {
	font-style: italic;
}
.aktoj2 table#sigvidajekzemploj th,
.aktoj2 table#sigvidajekzemploj td {
	border-width: 0;
}
.aktoj2 #sigvidajekzemploj ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.aktoj2 #sigvidajekzemploj ul li {
	margin: 0;
	padding: 0;
}
.aktoj2 #sigvidajekzemploj ul.enshovo {
	margin-left: 2em;
}
.aktoj2 h3#larabistoj {
	text-align: center;
}
.aktoj2 h3 span.titolabibliografio {
	font-size: 75%;
}
.aktoj2 blockquote#zamenhofalingvajho {
	text-align: center;
	margin: 0;
}
.aktoj2 blockquote#zamenhofalingvajho p {
	margin: 0;
}
.aktoj2 table#larabistojstatistiko th,
.aktoj2 table#larabistojstatistiko td {
	border-width: 0px;
}
.aktoj2 table#larabistojstatistiko td.interspaco {
	width: 2em;
}
.aktoj2 table#larabistojstatistiko td.centre {
	text-align: center;
}
.aktoj2 table#larabistojstatistiko th {
	text-align: left;
	font-weight: normal;
}
.aktoj2 table#larabistojstatistiko td.skemo {
	text-align: justify;
	background-image: url(/bildoj/punktoj.png);
	background-position: 70% 70%;
	background-repeat: repeat-x;
	padding: 0 2em 0 0;
}
.aktoj2 table#larabistojstatistiko td.skemo span {
	background-color: #fff;
	padding-right: 0.2em;
}
.aktoj2 table#larabistojstatistiko td.sublinio {
	border-bottom: 1px solid black;
}
.aktoj2 table.larabistojekzemploj td {
	vertical-align: top;
	border-width: 0;
}
.aktoj2 table.larabistojekzemploj td.centre {
	width: 2em;
	text-align: center;
}
.aktoj2 table.larabistojekzemploj td p {
	margin-left: 1em;
	text-indent: -1em;
	margin-top: 0;
}
.aktoj2 table.larabistojekzemploj td p.komento {
	margin-left: 3em;
}
.aktoj2 table#konkludigajkonstatoj th {
	font-weight: normal;
	vertical-align: top;
}
.aktoj2 table#konkludigajkonstatoj th,
.aktoj2 table#konkludigajkonstatoj td {
	border-width: 0;
}
.aktoj2 table#larabistojab th {
	font-weight: normal;
	vertical-align: top;
}
.aktoj2 table#larabistojab th,
.aktoj2 table#larabistojab td {
	border-width: 0;
}
.aktoj2 table#seinwerden th {
	font-weight: normal;
	vertical-align: top;
}
.aktoj2 table#seinwerden th,
.aktoj2 table#seinwerden td {
	border-width: 0;
}
.aktoj2 table#pruvoperdueksperimentoj th {
	font-weight: normal;
	vertical-align: top;
}
.aktoj2 table#pruvoperdueksperimentoj th,
.aktoj2 table#pruvoperdueksperimentoj td {
	border-width: 0;
}
.aktoj2 table#pruvoperdueksperimentoj p {
	margin-top: 0;
}
.aktoj2 table#gvidafadeno th {
	font-weight: normal;
	vertical-align: top;
	width: 4em;
	text-align: left;
}
.aktoj2 table#gvidafadeno th,
.aktoj2 table#gvidafadeno td {
	border-width: 0;
}
.aktoj2 table#gvidafadeno p {
	margin-top: 0;
}
.aktoj2 p.enshovo {
	margin-left: 3em;
}
.aktoj2 p.duoblaenshovo {
	margin-left: 6em;
}
.aktoj2 p.maldeshovo {
	margin-left: 3em;
	text-indent: -3em;
}
.aktoj2 p#larabistojprocentoj {
	margin: 0 0 0.5em 0;
	text-align: center;
}
.aktoj2 p.senmarghene {
	margin: 0;
}
.aktoj2 table#landnomojnomenklaturo th {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
	width: 2em;
}
.aktoj2 table#landnomojnomenklaturo th,
.aktoj2 table#landnomojnomenklaturo td {
	border-width: 0;
	vertical-align: top;
}
.aktoj2 table#landnomojnomenklaturo td {
	padding: 0;
}
.aktoj2 table#landnomojnomenklaturo p {
	margin-top: 0.2em;
}
.aktoj2 table#landnomojnomenklaturo table,
.aktoj2 table#landnomojnomenklaturo table th,
.aktoj2 table#landnomojnomenklaturo table td {
	margin: 0;
	width: auto;
}
.aktoj2 table#landnomojnomenklaturo table td {
	padding: 0.2em;
}
.aktoj2 ul.landanojlandoj {
	column-width: 8.5em;
	-moz-column-width: 8.5em;
	-webkit-column-width: 8.5em;
	column-gap: 0;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	list-style-type: none;
}
.aktoj2 ul.landanojlandoj li {
	margin: 0 0 0 0.5em;
	padding: 0;
	clear: both;
}
.aktoj2 ul.landanojlandoj span.kol1 {
	float: left;
	width: 1em;
	text-align: right;
}
.aktoj2 ul.landanojlandoj span.kol2 {
}
.aktoj2 p.mezanoto {
	margin-left: 5em;
	margin-right: 5em;
}
.aktoj2 ul#alimaniere,
.aktoj2 ul#landoj {
	column-width: 8.5em;
	-moz-column-width: 8.5em;
	-webkit-column-width: 8.5em;
	column-gap: 0.5em;
	-moz-column-gap: 0.5em;
	-webkit-column-gap: 0.5em;
}
.aktoj2 ul#landoklarigoj {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}
.aktoj2 ul.nekonformaj li {
	margin-left: 2em;
}
.aktoj2 ul.nekonformaj {
	column-width: 5em;
	-moz-column-width: 5em;
	-webkit-column-width: 5em;
	column-gap: 0.5em;
	-moz-column-gap: 0.5em;
	-webkit-column-gap: 0.5em;
}
.aktoj2 ul#kvarceteraj {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.aktoj2 table#statistikatabelo th,
.aktoj2 table#statistikatabelo td {
	border-width: 0;
}
.aktoj2 table#statistikatabelo th,
.aktoj2 table#statistikatabelo td#nulatd {
	border-bottom: 2px solid black;
	font-weight: normal;
}
.aktoj2 table#statistikatabelo td.centre {
	text-align: center;
}
.aktoj2 table#statistikatabelo td.cifera {
	text-align: right;
}
.aktoj2 table#statistikatabelo td#nulatd {
	width: 10em;
}
.aktoj2 table#statistikatabelo th#ioth {
	width: 5em;
}
.aktoj2 table#statistikatabelo th.spaca {
	text-align: center;
	padding-left: 3em;
	padding-right: 1em;
}
.aktoj2 table#statistikatabelo td.spaca {
	padding-left: 2em;
	padding-right: 2em;
}
.aktoj2 div.subsekcio {
	margin: 1em 0;
}
.aktoj2 div.subsekcio p {
	margin: 0;
}
.aktoj2 div.subsekcio p#kvarasubsekcio {
	margin-bottom: 0.5em;
}
.aktoj2 div.kundeshovo p {
	margin-left: 1.5em;
	text-indent: -1.5em;
}
/* SERĈILO */
.serchilo #serchoformularo input {
	font-size: 120%;
	padding: 0.2em 0.1em;
}
.serchilo #enhavo #serchoformularo input[type=submit] {
	font-size: 100%;
}
.serchilo #loko {
	margin: 1em 0;
}
.serchilo fieldset {
	border: 1px solid #ddd;
	padding: 0.5em;
}
.serchilo fieldset legend {
	font-weight: bold;
}
.serchilo label  {
	font-weight: bold;
}
div:target, h1:target, h2:target, h3:target,
h4:target, h5:target, h6:target, p:target,
ul:target, ol:target, dt:target, dd:target,
blockquote:target, pre:target, tr:target {
	border-left: 10px solid #0c2 !important;
	padding-left: 0.2em !important;
	position: relative !important;
	left: -10px !important;
}
h2#avtitolo:target {
	border-left-width: 0 !important;
	padding-left: 0 !important;
	position: static !important;
}
#nauaoficialaaldono #radikoj p:target {
	padding-left: 2em !important;
	left: -2em !important;
}
span:target, a:target, em:target {
	background-color: yellow !important;
	color: red !important;
}

li div.biografio {
	border: 2px solid #ddd;
	padding: 0 2em 0 1em;
	background-color: #fef;
	margin: 0.5em 0;
	position: relative;
}
li div.biografio h2 {
	font-size: 1.2em;
}
div.bioshaltilo {
	position: absolute;
	top: -0.2em;
	right: -0.2em;
	width: 1.5em;
	font-size: 100%;
	color: black;
	z-index: 1000;
	line-height: -1;
	background-color: #aaa;
	cursor: pointer;
	padding: 0;
	margin: 1px;
	text-align: center;
}
div.bioshaltilo:hover {
	color: white;
	background-color: green;
}

#serchorezultotabelo td,
#serchorezultotabelo th {
	vertical-align: top;
}
#serchorezultotabelo p {
	margin: 0;
}

.akademiavortaro span.AK {
	background-color: green;
	color: white;
	padding: 0.1em;
}

.akademiavortaro #serchorezulto h3.trafonombro {
	font-weight: bold;
	color: #000;
	margin-bottom: 0.5em;
	font-size: 110%;
}
.akademiavortaro #serchorezulto h3.trafonombro em {
	padding: 0.2em 0.5em;
	color: #fff;
	font-style: normal;
	background-color: #444;
}
.akademiavortaro #ve {
	font-size: 1.1em;
}

.bulonjadeklaracio p {
	text-indent: 2em;
}

.bulonjadeklaracio #enkonduko {
	text-indent: 0;
	font-style: italic;
	text-align: center;
	margin-bottom: 2em;
}

.bulonjadeklaracio .deklaraciero {
	margin: 2em 0 2em 0;
}

.bulonjadeklaracio p {
	text-align: justify;
}

.bulonjadeklaracio .plejgrava {
	padding-left: 1em;
	border-left: 1em double #444;
}

.bulonjadeklaracio #fonto {
	font-size: 85%;
	text-indent: 0;
	border-top: 1px solid #aaa;
	padding-top: 0.5em;
}

.fundamento #enhavo a.avligilo:link, .fundamento #enhavo a.avligilo:visited, .fundamento #enhavo a.avligilo:focus {
	text-decoration: none;
	color: #004;
}
.fundamento #enhavo a.avligilo:hover {
	text-decoration: underline;	
}

#serchorezulto a.redakti {
	background-color: #ccc;
	color: #444;
	text-decoration: none;
	margin-left: 0.5em;
}

#listoderekomendatajlandnomoj p.landolisto {
	margin-left: 1em;
}
#listoderekomendatajlandnomoj sup {
	font-size: 60%;
	line-height: 0;
}
#listoderekomendatajlandnomoj dt {
	background-color: #fff;
	color: #000;
	width: 4em;
}
#listoderekomendatajlandnomoj dd {
	background-color: #fff;
	color: #000;
	margin-left: 5em;
}
#listoderekomendatajlandnomoj tt {
	font-size: 90%;
	letter-spacing: 0.1em;
	background-color: #eee;
	color: #444;
	padding: 0.1em;
}
#listoderekomendatajlandnomoj p.noto {
	margin-top: 2em;
	border-top: 1px dashed #666;
	padding-top: 0.5em;
}
#listoderekomendatajlandnomoj #aldono {
	margin: 1em 0 0 5em;
	border: 1px solid #444;
	padding: 0.5em;
	font-size: 90%;
	background-color: #eee;
}

@media print {
	html, body {
		color: #000;
		background-color: #fff;
		margin: 0;
		padding: 0;
	}
	* html body {
		margin-right: 0;
	}
	#menuoj, #nomanonco {
		display: none;
	}
	#enhavo {
		margin: 0 !important;
		border-width: 0;
		max-width: 100% !important;
	}
	#enhavo #h1 h1, #enhavo #h1 h1 a {
		color: #000 !important;
		background-color: #fff !important;
		border-width: 0;
	}
	#enhavo a:link {
		color: #000;
		text-decoration: none;
	}
	#enhavo :visited {
		color: #000;
		text-decoration: none;
	}
	#enhavo a:hover, #enhavo a:active {
		text-decoration: none;
	}
}
