<md-toolbar class="navbar" ng-controller="NavbarCtrl" ng-include="'components/navbar/navbar.html'"></md-toolbar>
<md-content class="login" layout-padding flex>
  <h1 class="md-display-1" translate>Login</h1>
  <p class="md-body-1" translate>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@test.com</code> / <code>test</code></p>
  <p class="md-body-1" translate>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>

  <form name="form" ng-submit="login(form)" novalidate>

    <md-input-container>
      <label translate>Email</label>
      <input type="email" name="email" ng-model="user.email" required>
      <div ng-messages="form.email.$error" ng-show="form.email.$dirty">
        <div ng-message="required" translate>Please enter your email.</div>
        <div ng-message="email" translate>Please enter a valid email.</div>
      </div>
    </md-input-container>

    <md-input-container>
      <label translate>Password</label>
      <input type="password" name="password" ng-model="user.password" required>
      <div ng-messages="form.password.$error" ng-show="form.password.$dirty">
        <div ng-message="required" translate>Please enter your password.</div>
      </div>
    </md-input-container>

    <div>
      <p class="msg-error">{{ errors.other }}</p>
    </div>

    <div layout="row">
      <md-button class="md-raised md-primary" type="submit" translate>
        Login
      </md-button>
      <md-button class="md-raised" href="/signup" translate>
        Register
      </md-button>
    </div>

    <md-divider class="social"></md-divider>

    <div layout="row">
      <md-button class="md-raised btn-facebook" href="" ng-click="loginOauth('facebook')">
        <span translate>Connect with Facebook</span>
      </md-button>
      <md-button class="md-raised btn-google-plus" href="" ng-click="loginOauth('google')">
        <span translate>Connect with Google+</span>
      </md-button>
    </div>
  </form>
</md-content>
