<!doctype html>
<html>
  <head>
    <%- newrelic.getBrowserTimingHeader(); %>
    <meta charset="utf-8">
    <base href="/">
    <title>Vivaverbo</title>
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin,latin-ext'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- build:css(client) app/vendor.css -->
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="vivaverboMock" layout>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ui-view="" layout="column" layout-fill></div>

    <% if (analytics) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= analytics %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% } else { %>
      <script>
        var ga = function() {};
      </script>
    <% } %>

    <!-- build:js({client,node_modules}) app/vendor.js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/lokijs/src/lokijs.js"></script>
      <script src="bower_components/localforage/dist/localforage.js"></script>
      <script src="bower_components/loki-localforage-adapter/loki-localforage-adapter.js"></script>
      <script src="bower_components/lokijs/src/loki-angular.js"></script>
      <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbuild -->
    <!-- Desarrollo: Backend mock -->
      <script src="bower_components/angular-mocks/angular-mocks.js"></script>
      <script src="app/dev-app.js"></script>
    <!-- Fin Desarrollo -->

        <!-- build:js(.tmp) app/app.js -->

        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/collections/cards/cards.service.js"></script>
          <script src="app/collections/categories/categories.service.js"></script>
          <script src="app/collections/memory/MemoryClass.service.js"></script>
          <script src="app/collections/memory/memory.service.js"></script>
          <script src="app/db/Collection.service.js"></script>
          <script src="app/db/db.service.js"></script>
          <script src="app/db/localDB.service.js"></script>
          <script src="app/db/versions.service.js"></script>
          <script src="app/defaultCategory/defaultCategory.service.js"></script>
          <script src="app/review/review.js"></script>
          <script src="app/review/review.service.js"></script>
          <script src="app/translations.js"></script>
          <script src="app/vvCard/vvCard.directive.js"></script>
          <script src="app/vvReview/vvReview.directive.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/dateTime/dateTime.service.js"></script>
          <script src="components/vendor/lodash.service.js"></script>
          <script src="components/vvSidenav/vvSidenav.directive.js"></script>
          <script src="components/vvToolbar/vvToolbar.directive.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
      <script>
        window.dtDate = <%= Date.now() %>;
        window.vivaverboConfig = {
          user: <%- JSON.stringify(user) %>,
          debug: <%= debugON %>,
          versions: <%- JSON.stringify(versions) %>
        }
      </script>
  </body>
</html>

