<!doctype html>
<html>
  <head>
    <%- newrelic.getBrowserTimingHeader(); %>
    <meta charset="utf-8">
    <base href="/">
    <title>Vivaverbo</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin,latin-ext'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- build:css(client) app/vendor.css -->
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#418f46">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="application-name" content="Vivaverbo">
    <meta name="apple-mobile-web-app-title" content="Vivaverbo">
    <script>
      var vv_doc = document.documentElement;
      vv_doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
  </head>
  <body ng-app="vivaverboApp" layout>
    <!--[if lte IE 10]>
      <p class="browsehappy">Estás usando un navegador <strong>obsoleto</strong>. Por favor, <a href="http://browsehappy.com/">actualiza tu navegador</a> para una experiencia mejor y más segura. Vivaverbo requiere un navegador moderno para funcionar correctamente.</p>
    <![endif]-->
      <p class="browsehappy-ie10">Estás usando un navegador <strong>obsoleto</strong>. Por favor, <a href="http://browsehappy.com/">actualiza tu navegador</a> para una experiencia mejor y más segura. Vivaverbo requiere un navegador moderno para funcionar correctamente.</p>

    <div ui-view="" layout="column" layout-fill></div>

    <% if (analytics) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '<%= analytics %>', { userId: '<%= trackId %>' });
        ga('set', 'dimension1', '<%= trackId %>');
        ga('send', 'pageview');
      </script>
    <% } else { %>
      <script>
        var ga = function() {};
      </script>
    <% } %>

    <!-- build:js({client,node_modules}) app/vendor.js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-messages/angular-messages.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/lokijs/src/lokijs.js"></script>
      <script src="bower_components/localforage/dist/localforage.js"></script>
      <script src="bower_components/loki-localforage-adapter/loki-localforage-adapter.js"></script>
      <script src="bower_components/lokijs/src/loki-angular.js"></script>
      <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbuild -->

        <!-- build:js(.tmp) app/app.js -->

        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/collections/cards/cards.service.js"></script>
          <script src="app/collections/categories/categories.service.js"></script>
          <script src="app/collections/memory/MemoryClass.service.js"></script>
          <script src="app/collections/memory/memory.service.js"></script>
          <script src="app/db/Collection.service.js"></script>
          <script src="app/db/db.service.js"></script>
          <script src="app/db/localDB.service.js"></script>
          <script src="app/db/versions.service.js"></script>
          <script src="app/defaultCategory/defaultCategory.service.js"></script>
          <script src="app/review/review.js"></script>
          <script src="app/review/review.service.js"></script>
          <script src="app/translations.js"></script>
          <script src="app/vvCard/vvCard.directive.js"></script>
          <script src="app/vvReview/vvReview.directive.js"></script>
          <script src="components/auth/auth.service.js"></script>
          <script src="components/auth/user.service.js"></script>
          <script src="components/dateTime/dateTime.service.js"></script>
          <script src="components/track/track.service.js"></script>
          <script src="components/vendor/lodash.service.js"></script>
          <script src="components/vvSidenav/vvSidenav.directive.js"></script>
          <script src="components/vvToolbar/vvToolbar.directive.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
      <script>
        window.dtDate = <%= Date.now() %>;
        window.vivaverboConfig = {
          user: <%- JSON.stringify(user) %>,
          debug: <%= debugON %>,
          versions: <%- JSON.stringify(versions) %>
        }
      </script>
  </body>
</html>

