$font: 'Helvetica Neue', Helvetica, arial, sans-serif;
$color-link: rgba(244, 64, 52, 0.9);
$color-bg: #daecc6;
$color-txt: #333;
$color-fb: #435f9c;
$color-fb-border: #293e69;
$color-register: #ab171e;
$color-reg-border: #820a0f;
$color-btn: white;
$color-error: red;
