@import 'base.scss';

.error {
  color: $color-error;
  font-weight: bold;
  .unexpected, .name, .email, .hashedPassword {
    display: none;
  }
  .error-message {
    line-height: 1.5;
  }
}

.toolbar .login {
  float: right;
  color: $color-txt-oscuro;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 0 0.5em;
  line-height: 32px;
  font-weight: 500;
}

main {
  display: block;
  background-image: url(../assets/images/fonfoto.jpg);  
  background-position: 50%;
  background-size: cover;
}

.pitch {
  text-align: center;
  padding: 2em;
  @media screen and (max-width: $ancho-movil) {
    padding: 1em 2em 0;
  }
  .pitch-title, .pitch-mojosa, .pitch-text {
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .pitch-title {
    font-size: 1.4em;
    font-weight: 500;
  }
  .pitch-mojosa {
    font-size: 1.2em;
    font-weight: 500;
    font-style: italic;
    margin: 0.5em 0;
  }
}

.register {
  text-align: center;
  width: 80%;
  max-width: 320px;
  margin: 0 auto;
  padding: 32px;
  @media screen and (max-width: $ancho-movil) {
    width: 100%;
  }
}

.benefits {
  color: $color-txt-oscuro;
  display: table-row;
  padding-top: 1.5em;
  section {
    display: table-cell;
    text-align: center;
    padding: 2.5em 32px 16px;
    h2 {
      font-weight: bold;
      margin: 0 0 0.5em 0;
    }
    p {
      margin: 0;
    }
  }
  @media screen and (max-width: $ancho-tablet) {
    display: block;
    section {
      display: block;
    }
  }
  @media screen and (max-width: $ancho-xxl) {
    section {
      padding: 2.5em 16px 16px;
    }
  }
}
