<md-whiteframe class="tarjeta md-whiteframe-z3" ng-class="{ reverso: tarjeta.girada }" ng-click="tarjeta.girar()">
  <div class="contenido" layout="column" layout-fill="" layout-align="center center">
    <h1 class="palabra" ng-class="{ reverso: tarjeta.girada }">{{ tarjeta.card.pregunta }} <span class="bracket">{{ tarjeta.card.bracketP }}</span></h1>
    <h2 class="sinonimos" ng-class="{ reverso: tarjeta.girada }">{{ tarjeta.card.sinP.join(' · ') }}</h2>
    <h1 class="palabra" ng-show="tarjeta.girada">{{ tarjeta.card.respuesta }} <span class="bracket">{{ tarjeta.card.bracketR }}</span></h1>
    <h2 class="sinonimos" ng-show="tarjeta.girada">{{ tarjeta.card.sinR.join(' · ')}}</h2>
    <div class="separacion"></div>
    <p class="frase" ng-class="{ reverso: tarjeta.girada }"><em>{{ tarjeta.card.frasePregunta }}</em></p>
    <p class="frase" ng-show="tarjeta.girada"><em>{{ tarjeta.card.fraseRespuesta }}</em></p>
  </div>
  <md-button class="btn-cerrar md-icon-button" aria-label="{{ 'Ya la sé (no mostrar más)' | translate }}" ng-show="tarjeta.girada" ng-click="tarjeta.eliminar($event)">
    <md-tooltip md-direction="left">Ya la sé (no mostrar más)</md-tooltip>
    <md-icon md-font-library="material-icons">&#xE5CD;</md-icon>
  </md-button>
</md-whiteframe>
