$altura-baja: 528px;

.repaso {
  padding: 16px;
  background-color: #EBECF5;
  md-whiteframe.tarjeta:focus {
    outline: none;
  }
  .loading {
    margin: 8px 0;
  }
  .num-tarjeta {
    width: 320px;
    max-width: 94%;
    margin: 8px auto;
  }
  .tarjeta {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    width: 352px;
    height: 216px;
    &.reverso {
      cursor: default;
    }
    @media only screen and (max-height: $altura-baja) {
      height: 184px;
    }
    .btn-cerrar {
      position: absolute;
      margin: 0;
      right: 0;
    }
    .contenido {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      .palabra {
        margin: 0;
        line-height: 64px;
        font: 300 34px 'Roboto Slab', serif;
        .bracket {
          opacity: 0.6;
          font-size: 0.65em;
        }
        &.reverso {
          font-size: 16px;
          letter-spacing: 0.01em;
          line-height: 24px;
          opacity: 0.5;
          .bracket {
            display: none;
          }
        }
      }
      .sinonimos {
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
        &.reverso {
          display: none;
        }
      }
      .separacion {
        height: 32px;
      }
      .frase {
        margin: 0;
        padding: 0 8px 8px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.01em;
        line-height: 24px;
        &.reverso {
          font-size: 12px;
          letter-spacing: 0.02em;
          line-height: normal;
          opacity: 0.5;
        }
      }
    }
  }
}
