<vv-sidenav layout-fill>
  <vv-toolbar vv-title="Sistema mayor"></vv-toolbar>
  <md-content class="repaso" flex>
    <div layout layout-align="center" class="num-tarjeta md-subhead" ng-show="tarjetas.length === 0" translate>Loading…</div>
    <div layout layout-align="center" class="num-tarjeta md-subhead" ng-hide="tarjetas.length === 0 || repaso.finalizado">{{ repaso.totalAprendidas }}/{{ repaso.totalTarjetas }}</div>
    <div layout="column" layout-align="center" ng-show="repaso.finalizado">
      <p layout layout-align="center"class="md-headline" translate>Awesome! You're done!</p>
      <md-button class="md-raised" ng-click="newReview()"><translate>Review more cards!</translate></md-button>
    </div>
    <div layout layout-align="center center" ng-hide="repaso.finalizado">
      <vv-card vv-girada="estado.girada" vv-tarjeta="tarjeta" vv-onclose="borrar()" ng-repeat="tarjeta in tarjetas track by tarjeta._id" ng-show="$index === repaso.tarjetaActual"></vv-card>
    </div>
    <div ng-show="estado.girada" layout layout-padding layout-align="center center">
      <md-button class="md-icon-button" aria-label="{{ 'Ouch!' | translate }}" ng-click="marcar(0)">
        <md-icon md-font-library="material-icons">&#xE8DB;</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="{{ 'Yes but…' | translate }}" ng-click="marcar(0.5)">
        <md-icon md-font-library="material-icons">&#xE8DD;</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="{{ 'Perfect!' | translate }}" ng-click="marcar(1)">
        <md-icon md-font-library="material-icons">&#xE8DC;</md-icon>
      </md-button>
    </div>
  </md-content>
</vv-sidenav>
