<vv-sidenav layout-fill>
  <vv-toolbar vv-title="Sistema mayor"></vv-toolbar>
  <md-content class="repaso" flex>
    <div layout layout-align="center" class="num-tarjeta md-subhead" ng-hide="repaso.finalizado">{{ repaso.totalAprendidas }}/{{ repaso.totalTarjetas }}</div>
    <div layout="column" layout-align="center" ng-show="repaso.finalizado">
      <p layout layout-align="center"class="md-headline" translate>Awesome! You're done!</p>
      <md-button class="md-raised" ng-click="newReview()"><translate>Review more cards!</translate></md-button>
    </div>
    <div layout layout-align="center center" ng-hide="repaso.finalizado">
      <md-whiteframe role="button" class="tarjeta md-whiteframe-z3" ng-repeat="tarjeta in repaso.tarjetas" ng-show="$index === repaso.tarjetaActual" ng-click="girar()">
        <div class="contenido" layout="column" layout-fill="" layout-align="center center">
          <h1 class="palabra" ng-class="{ reverso: tarjetaGirada }">{{ tarjeta | cardField:'pregunta' }}</h1>
          <h1 class="palabra" ng-show="tarjetaGirada">{{ tarjeta | cardField:'respuesta' }}</h1>
          <div class="separacion"></div>
          <p class="frase" ng-class="{ reverso: tarjetaGirada }"><em>{{ tarjeta | cardField:'frasePregunta' }}</em></p>
          <p class="frase" ng-show="tarjetaGirada"><em>{{ tarjeta | cardField:'fraseRespuesta' }}</em></p>
        </div>
        <md-button class="btn-cerrar md-icon-button" aria-label="{{ 'Remove card' | translate }}" ng-show="tarjetaGirada" ng-click="borrar($event)">
          <md-icon md-font-library="material-icons">&#xE5CD;</md-icon>
        </md-button>
      </md-whiteframe>
    </div>
    <div ng-show="tarjetaGirada" layout layout-padding layout-align="center center">
      <md-button class="md-icon-button" aria-label="{{ 'Ouch!' | translate }}" ng-click="marcar(0)">
        <md-icon md-font-library="material-icons">&#xE8DB;</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="{{ 'Yes but…' | translate }}" ng-click="marcar(0.5)">
        <md-icon md-font-library="material-icons">&#xE8DD;</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="{{ 'Perfect!' | translate }}" ng-click="marcar(1)">
        <md-icon md-font-library="material-icons">&#xE8DC;</md-icon>
      </md-button>
    </div>
  </md-content>
</vv-sidenav>
