$ancho-info: 256px;

body {
  font-size: 18px;
}
.error {
  color: red;
}
.pos {
  float: right;
  font-weight: bold;
  opacity: 0.35;
}
.tarjetas {
  width: 100%;
}
.tarjeta {
  padding: 8px;
}
#consola {
  width: auto;
  margin-right: $ancho-info;
}
#info {
  position: fixed;
  top: 0;
  right: 0;
  width: 256px;
  font-size: .8em;
  .difinoj {
    padding-left: 1.5em;
  }
  .ekzemploj {
    padding-left: 1.5em;
    font-style: italic;
    .fnt {
      opacity: 0.35;
    }
  }
  .f, h1 {
    font-size: 1.2em;
    font-weight: bold;
  }
  mark {
    background-color: inherit;
    color: inherit;
  }
}
